{% macro usedBy(array) %}
  {% import _self as self %}
  <div class="row">
    <div class="col-md-2 used-by">
      <button
        type="button"
        class="btn btn-secondary"
        data-container="body"
        data-toggle="popover"
        data-placement="bottom"
        data-html="true"
        data-content='{{ self.content(array) }}'
      >
        {% if array|length is same as (0) %}
          Is not used by any module
        {% else %}
          {{ 'Used by ' | fpbxtrans }} {{ self.count(array, 'destination') }} objects on {{ self.count(array, 'module') }} modules
        {% endif %}
      </button>
    </div>
  </div>
{% endmacro %}

{% macro content(array) %}
  <ul class="list-group">
    {% for category, modules in array %}
      <li class="list-group-item"><strong> {{ category }} </strong></li>
      <ul class="list-group">
        {% for module in modules %}
          <li class="list-group-item">
            <a href="{{ module.edit_url }}">
              {{ module.description }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro count(array, wanted) %}
  {% set counter = 0 %}

  {% for modules in array %}
    {% if wanted == 'module' %}
      {% set counter = counter + 1 %}
    {% endif %}

    {% for x in modules %}
      {% if wanted == 'destination' %}
        {% set counter = counter + 1 %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {{ counter }}
{% endmacro %}
