{% use "freepbx_bootstrap_3_horizontal_layout.html.twig" %}
{# Big ack because FPBX gui_html create the parent whole structure #}
{%- block form_rows -%}
  {% for child in form %}
    {{- form_row(child) -}}
  {% endfor %}
{%- endblock form_rows -%}

{%- block form_row -%}
  <style>
      label.required:after {
          content: "* ";
      }
  </style>
  <div class="element-container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="form-group">
            {% if form_label(form) is not empty %}
              <div class="col-md-3">
                {{- form_label(form) -}}
                <i class="fa fa-question-circle fpbx-help-icon" data-for="{{form.vars.id}}"></i>
              </div>
              <div class="col-md-9 control-item">
                {{- form_widget(form) -}}
              </div>
              <div class="col-md-9 col-md-push-4">
                {{- form_errors(form) -}}
              </div>
            {% else %}
              <div class="col-md-12 control-item">
                {{- form_widget(form) -}}
              </div>
              <div class="col-md-12 col-md-push-4">
                {{- form_errors(form) -}}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if form.vars.label_attr.fpbx_help is defined %}
      <div class="row">
        <div class="col-md-12">
	  <span id="{{form.vars.id}}-help" class="help-block fpbx-help-block">{{ form.vars.label_attr.fpbx_help|fpbxtrans|raw }}</span>
        </div>
      </div>
    {% endif %}
  </div>
{%- endblock form_row -%}

{%- block choice_widget_expanded -%}
  <div class="radioset">
    {%- for child in form %}
      <input type="radio" class="form-control" name="{{full_name}}" id="{{ child.vars.id }}" value="{{ child.vars.value }}" {{ value == child.vars.value ? 'checked' : '' }} {{ child.vars.disabled ? 'disabled' : '' }} />
      {{ form_label(child) }}
    {% endfor %}
  </div>
{%- endblock -%}


{% block checkbox_radio_label %}
  {# Do not display the label if widget is not defined in order to prevent double label rendering #}
  {% if required %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
  {% endif %}
  {% if parent_label_class is defined %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
  {% endif %}
  {% if label is not same as(false) and label is empty %}
    {%- if label_format is not empty -%}
      {% set label = label_format|replace({
        '%name%': name,
        '%id%': id,
      }) %}
    {%- else -%}
      {% set label = name|humanize %}
    {%- endif -%}
  {% endif %}
  <label for="{{ id }}">
    {{ label -}}
  </label>
{% endblock checkbox_radio_label %}

{% block submit_row -%}
  <div class="element-container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="form-group">
            <div class="col-md-12">
              {{ form_widget(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock submit_row %}
